.Background {
    background: linear-gradient(180deg, #24252F 0%, #31313F 36.46%, #242530 100%);

    min-height: 100vh;
    color: white;
    font-family: "Fira Sans Condensed", sans-serif;

}
.Container{
    max-width: 1240px;
    width: 100%;
    padding-left: 5%; /* гибкий отступ */
    padding-right: 5%; /* гибкий отступ */
    margin: 0 auto;

}

/* Чтобы отступы не были больше чем нужно на меньших экранах */
@media (max-width: 1920px) {
    .Container{
        padding-left: calc((100vw - 1240px) / 2);
        padding-right: calc((100vw - 1240px) / 2);
    }
}
/* Адаптивная настройка для более узких экранов */
@media (max-width: 768px) {
    .Container {
        padding: 0 10px; /* Уменьшаем боковые отступы на мобильных устройствах */
    }
}