.Background {
    background: linear-gradient(180deg, #24252F 0%, #31313F 36.46%, #242530 100%);

    min-height: 100vh;
    color: white;
    font-family: "Fira Sans Condensed", sans-serif;

}
.Container {
    max-width: 1240px;
    padding-left: 17%;
    padding-right: 17%;
}

/* Для больших экранов (1920px) */
@media (max-width: 1920px) {
    .Container {
        max-width: 1240px;
        padding-left: 17%;
        padding-right: 17%;
    }
}
@media (max-width: 960px) {
    .Container {
        max-width: 1240px;
        padding-left: 7%;
        padding-right: 7%;
    }
}
/* Для экранов меньше (1920px) */
@media (max-width: 768px) {
    .Container{
        /*padding-left: calc((100vw - 1240px) / 2);*/
        /*padding-right: calc((100vw - 1240px) / 2);*/
        padding-left: 1%;
        padding-right: 1%;
    }
}

