.Footer {
    margin-top: 5%;
    padding: 40px 0;
    background: #313341;
    color: #fff;
}
.SubFooter{
    max-width: 1240px;
    padding-left: 17%;
    padding-right: 17%;
}
/* Для больших экранов (1920px) */
@media (max-width: 1920px) {
    .SubFooter {
        max-width: 1240px;
        padding-left: 17%;
        padding-right: 17%;
    }
}
@media (max-width: 960px) {
    .SubFooter {
        max-width: 1240px;
        padding-left: 7%;
        padding-right: 7%;
    }
}
/* Для экранов меньше (1920px) */
@media (max-width: 768px) {
    .SubFooter{

        padding-left: 1%;
        padding-right: 1%;
    }
}

.Container {
    display: flex;
    justify-content: flex-start;
}

.Column {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.UnderLogo{
    color: #FFFFFF;

    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
    text-align: left;

}

.FooterInfo{
margin-left: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
}

p {
    margin: 0;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
    text-align: left;


}
