
.Container {
    padding-top: 64px;
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
}

.navigation {

    max-width: 521px;
    max-height: 22px;
    padding-left: 222px;
}

.navigationList {
    display: flex;

    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
@media (max-width: 768px) {
    .navigationList {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
}
.navigationItem {

    margin-right: 20px;
    font-size: 1.2rem;
    padding: 0.5em 1em;
    font-weight: 400;
    line-height: 21.6px;
    text-align: left;


}

.navigationItem:last-child {
    margin-right: 0;
}

svg {
    width: 100%;
    max-width: 150px;
    height: auto;
}